{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


  <body>
    
  <div class="fh5co-loader"></div>
  
  <div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="fh5co-logo"><a href="">#MarryMeMarckle<strong></strong></a></div>
        </div>
      </div>
      
    </div>
  </nav>
  <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(static/images/bride-ceremony-chairs-794254.jpg);" data-stellar-background-ratio="0.5">

    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <h1>Meghan &amp; Jacob</h1>
              <h2>June 27, 2020</h2>
              <div class="simply-countdown simply-countdown-one"></div>
              <p><a class="btn btn-default btn-sm">Save the date</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="fh5co-couple">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <h2>Looking forward to see you!</h2>
          <h3>June 27, 2020, 3 pm</h3>
          <p> Tellus360<br>
              24 East King Street<br>
              Lancaster, PA 17602</p>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-event" class="fh5co-bg" style="background-image:url(/static/images/blur-bridal-bride-1023233.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <span>Our Special Event</span>
          <h2>Ceremony and Reception</h2>
        </div>
      </div>
      <div class="row">
        <div class="display-t">
          <div class="display-tc">
            <div class="col-md-10 col-md-offset-1">
              <div class="col-md-6 col-sm-6 text-center">
                <div class="event-wrap animate-box">
                  <h3>Main Ceremony</h3>
                  <div class="event-col">
                    <i class="icon-clock"></i>
                    <span>3:00 PM</span>
                    <span>10:00 PM</span>
                  </div>
                  <div class="event-col">
                    <i class="icon-calendar"></i>
                    <span>Saturday 27</span>
                    <span>June, 2020</span>
                  </div>
                  <p>Tellus360 <br>
                      24 East King Street </br>
                      Lancaster, PA 17602</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 text-center">
                <div class="event-wrap animate-box">
                  <h3>After Party</h3>
                  <div class="event-col">
                    <i class="icon-clock"></i>
                    <span>10:00 PM</span>
                    <span>Onwards</span>
                  </div>
                  <div class="event-col">
                    <i class="icon-calendar"></i>
                    <span>Saturday 27</span>
                    <span>June, 2020</span>
                  </div>
                  <p>Tellus360 <br>
                  (Location of Cocktail Hour)</p>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-couple">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <h2>Accommodations</h2>
          <h3>We have reserved hotel blocks at Hotel Name</h3>
          <p>Call Reservations at (777) 777-7777</p>
          <p> Use Group Number: 000000<p>
          <p> Friday (06/26)- $129.95**</p>
          <p> Saturday (06/27) - $149.95**</p>
          <p><i>**Room rates include breakfast for up to two guests per room per night and room rates do not include state and occupancy tax</i></p>
          <br>
          <h2>Parking</h2>
          <h3>Complimentary parking is available for all guests</h3>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-gallery" class="fh5co-section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <span>Places to See</span>
          <h2>Lancaster</h2>
          <p>This is your chance to explore a new city over the weekend! Drink, dine, or even just wander around!</p>
        </div>
      </div>
      <div class="row row-bottom-padded-md">
        <div class="col-md-12">
          <ul id="fh5co-gallery-list">
            
            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://static1.squarespace.com/static/5980927a20099ecf2e5cc6ac/t/59b6a6bfbce17645d65fc8d6/1506645714185/eat-good-burrito.png?format=500w); "> 
            <a href="https://www.silantra.co/virtual-menu">
              <div class="case-studies-summary">
                <span>Food</span>
                <h2>Silantra Asian Street Kitchen</h2>
              </div>
            </a>
          </li>
          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://rdc.rdcimage.com/partner-images/342785/micrositeimage_photo1.jpg); ">
            <a href="https://www.restaurant.com/almaz-ethiopian-restaurant-lancaster-pid=342785" class="color-2">
              <div class="case-studies-summary">
                <span>Food</span>
                <h2>Almaz Ethiopian Restaurant</h2>
              </div>
            </a>
          </li>


          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://mk0lucalancastee98v2.kinstacdn.com/wp-content/uploads/2018/08/home-food-samples.png); ">
            <a href="https://lucalancaster.com/" class="color-3">
              <div class="case-studies-summary">
                <span>Food</span>
                <h2>Luca</h2>
              </div>
            </a>
          </li>
          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://i1.wp.com/www.tellus360.com/wp-content/uploads/2015/08/Tellus-2017-03-0236.jpg?fit=1000%2C667&ssl=1); ">
            <a href="https://www.tellus360.com/" class="color-4">
              <div class="case-studies-summary">
                <span>Drinks</span>
                <h2>Tellus360</h2>
              </div>
            </a>
          </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(http://slideshow.hibustudio.com/sliders/2016/3/57113effe4b01a960cda91e1/5.2016_106_19_20_33.jpg); ">
              <a href="http://www.stubbysbarandgrille.com" class="color-3">
                <div class="case-studies-summary">
                  <span>Drinks</span>
                  <h2>Stubby's Bar and Grille</h2>
                </div>
              </a>
            </li>
            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://millersalehouse.com/wp-content/uploads/2016/06/zinger-mountain-melt.jpg); ">
              <a href="https://millersalehouse.com/locations/lancaster/" class="color-4">
                <div class="case-studies-summary">
                  <span>Drinks</span>
                  <h2>Miller's Ale House</h2>
                </div>
              </a>
            </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://www.amishfarmandhouse.com/wp-content/uploads/2018/06/DSC_0788-e1528380530883-210x210.jpg); ">
              <a href="https://www.amishfarmandhouse.com/" class="color-4">
                <div class="case-studies-summary">
                  <span>Explore</span>
                  <h2>The Amish Farm and House</h2>
                </div>
              </a>
            </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://static.wixstatic.com/media/3689e3_74380d9b22194bab903b593294c9850a~mv2.jpg/v1/fill/w_696,h_696,al_c,q_90,usm_0.66_1.00_0.01/3689e3_74380d9b22194bab903b593294c9850a~mv2.webp); "> 
              <a href="https://www.auraespresso.com/" class="color-5">
                <div class="case-studies-summary">
                  <span>Explore</span>
                  <h2>Aura Espresso Room</h2>
                </div>
              </a>
            </li>
            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(http://www.thegameseum.com/siteimg2.png); ">
              <a href="http://www.thegameseum.com/" class="color-6">
                <div class="case-studies-summary">
                  <span>Play</span>
                  <h2>Gameseum</h2>
                </div>
              </a>
            </li>
          </ul>   
        </div>
      </div>
    </div>
  </div>

    <div class="fh5co-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-4 animate-box">
          
        <div class="col-md-5 col-md-pull-8 animate-box">
          
          <div class="fh5co-contact-info">
            <h3>Contact Information</h3>
            <ul>
              <li class="email">test@gmail.com</li>
            </ul>
          </div>

        </div>
      </div>
      
    </div>
  </div>




  <footer id="fh5co-footer" role="contentinfo">
    <div class="container">

      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
            <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
            <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
          </p>
        </div>
      </div>

    </div>
  </footer>
  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
  
  <!-- jQuery -->
  <script src="static/js/jquery.min.js"></script>
  <!-- jQuery Easing -->
  <script src="static/js/jquery.easing.1.3.js"></script>
  <!-- Bootstrap -->
  <script src="static/js/bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="static/js/jquery.waypoints.min.js"></script>
  <!-- Carousel -->
  <script src="static/js/owl.carousel.min.js"></script>
  <!-- countTo -->
  <script src="static/js/jquery.countTo.js"></script>

  <!-- Stellar -->
  <script src="static/js/jquery.stellar.min.js"></script>
  <!-- Magnific Popup -->
  <script src="static/js/jquery.magnific-popup.min.js"></script>
  <script src="static/js/magnific-popup-options.js"></script>

  <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
  <script src="static/js/simplyCountdown.js"></script>
  <!-- Main -->
  <script src="static/js/main.js"></script>


  <script>
    // var d = new Date(new Date().getTime() + 200 * 120 * 120 * 2000);
    var d = new Date(new Date().getTime() + 999 * 120 * 120 * 2000);
    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });
</script>
{% endblock %}
